<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
      href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
      href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>

<link rel="stylesheet" type="text/css"
      href="/static/css/busy.css"
/>
<script type="text/javascript"
        src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js">
</script>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>


<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<script type="text/javascript"
        src="/static/js/busy.min.js">
</script>

</head>
<body>
<div class="container">



<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across).
    -->

{% if session.cal_selection is defined  %}
    {{session.cal_selection}}
    {{session.meet_desc}}
    {{session.meet_loc}}
<h1>Busy times</h1>
  <div class="row">
  {% if session.busy_list is defined %}
  {% for event in session.busy_list %}
          <div class="col-md-4">
              <h4>Event: {{event.id}} Start: {{event.start.dateTime}} End: {{event.end.dateTime}}</h4>
          </div>
         {% if loop.index is divisibleby 1 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  {% endif %}
<h1>Free Times</h1>
    <div class="row">
  {% if session.free_list is defined %}
  {% for event in session.free_list %}
          <div class="col-md-4">
              <h4>Event: {{event.id}} Start: {{event.start.dateTime}} End: {{event.end.dateTime}}</h4>
          </div>
         {% if loop.index is divisibleby 1 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  {% endif %}
    <button onclick="confirmSelection()">Confirm Busy and Free Times</button>
  </div>
{% endif %}

    <script>
        $SCRIPT_ROOT = {{request.script_root|tojson|safe}}

    function confirmSelection(){

    //TODO: confirmSelection() should generate an email link, not what is below

        $('input[type=checkbox]').each(function(){
            if(this.checked){
            cal_selection.push(this.id)
            }
        });

        $.ajax({
            type: "POST",
            dataType: "json",
            url: $SCRIPT_ROOT + '/showBusyFree',
            data: {selection: cal_selection},
            complete: function(){
                location.assign($SCRIPT_ROOT + '/busy.html');}
        });
    }

    </script>
  </div>  <!-- container (for bootstrap) -->
  </body> </html>
