<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
      href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
      href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>

<link rel="stylesheet" type="text/css"
      href="/static/css/busy.css"
/>
<script type="text/javascript"
        src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js">
</script>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>


<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<script type="text/javascript"
        src="/static/js/busy.min.js">
</script>

</head>
<body>
<div class="container">

<h1>Busy times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h3>Meeting Description</h3>
    {{session.meet_desc}}
    <br>

<h3>Location</h3>
    {{session.meet_loc}}
    <br>

<h2>Date</h2>
    {{session.begin_date}} to {{session.end_date}}
    <br>

<h2>Time Range</h2>
    {{session.meet_range_start}}
          to
    {{session.meet_range_end}}
    <br>

<h2>Duration</h2>
      {{session.meet_dur}}
    <br>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across).
    -->

    <script>
        $SCRIPT_ROOT = {{request.script_root|tojson|safe}}


    </script>
  </div>  <!-- container (for bootstrap) -->
  </body> </html>
